<div class="container">
  <div class="col-6 mt-2">
    <h2>Results</h2>

    <!--<p><%= params %></p>
    <p><%= @answer %></p>
    <p><%= @letters %></p>

    <%= @web_answer %>-->
    <p><%= @response %></p>

    <%= link_to "Play again", new_path %>
  </div>
</div>
